body, html, .content__wrapper {
  height: 100%;
}

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

 h1, h2, h3, h4 {
  margin: 0 0 2em;
  color: #fff;
  letter-spacing: 2px;
}

h4 {
  margin-top: 3em;
  color: #ccc;
  letter-spacing: 0;
  line-height: 1.5;
}

a {
  /*text-decoration: none;*/
  /*color: #8DA9C1;*/
}



/* --------------------------------------------
// --------------------------------------------

Utility

// --------------------------------------------
// -------------------------------------------- */

.u-text {
  color: #8DA9C1;
  font-size: 17px;
  line-height: 1.75;
}

.u-link--reg {
  color: #8DA9C1;
  color: #ccc;
  text-decoration: none;
}

.u-link--alt {
  color: #ccc;
  text-decoration: none;
  font-size: 1.5em;
}



.splash__container {
  height: 100%;
  background-image: url(franklin_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  background-position: top center,top right;
  background-attachment: fixed;
}

.splash__overlay {
  height: 100%;
  background-color: rgba(32, 40, 49, 0.7);
  background-image: url(pattern.png);
}

.splash__content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 15px;
  text-align: center;
}

.splash__text {
  width: 100%;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  font-size: 17px;
  line-height: 1.75;
  color: #8DA9C1;
}

.splash__text span {
  color: #ef683a;
  font-size: 1.25em;
  padding: 0 0 1px;
  border-bottom: 1px solid #8DA9C1;
}


/*#758c9f*/
/*#ef683a*/
/*#8DA9C1*/





/* --------------------------------------------
// --------------------------------------------

Resources

// --------------------------------------------
// -------------------------------------------- */

.list {
  margin: 0;
  list-style: none;
}

.list_item {

}

.list__h {
  margin: 0;
}

.list__link {

}


.list__desc {

}
